# 1. Secretos y Entornos Virtuales (CRÍTICO)
.env
venv/
.venv/
env/

# 2. Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# 3. Archivos temporales de Terraform (Infraestructura)
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# 4. Configuración de Editores (IDE) y Sistema Operativo
.vscode/
.idea/
.DS_Store
Thumbs.db